<template name="dynamicTableGroup">
  <div class="dynamic-table-group">
    {{#if waitingAndLoading}}
      <div class="dynamic-table-loading-group">
        {{#if showLoadingMessage}}
          Loading your groups
        {{/if}}
        {{#if loading.message}}
          {{{loading.message}}}
        {{/if}}
        {{#if loading.tmpl}}
          {{>Template.dynamic template=loading.tmpl data=loading.tmplContext}}
        {{/if}}
      </div>
    {{/if}}
    {{#each value in currentGroupValues}}
      <div class="dynamic-table-panel" style="{{#unless shouldDisplaySection value}}display: none;{{/unless}}">
        <div class="dynamic-table-header" data-index="{{@index}}">
          {{#if showPrefix}}{{currentGroupLabel}}: {{/if}}{{value.label}} {{#if hasCount value}}({{count value}}){{/if}}
        </div>
        <div class="dynamic-table-content" style="{{#if shouldDisplayContent @index}}display: block;{{/if}}">
          {{#if shouldDisplayTable @index}}
            {{#if lastLevel}}
              {{> CustomizableTable (table value (newSelector value selector))}}
            {{else}}
              {{> dynamicTableGroup forceRefresh=forceRefresh showPrefix=showPrefix noGroups=noGroups loading=loading customTableSpec=customTableSpec expandAll=expandAll lazy=lazy groupChain=groupChain index=nextIndex tableIdSuffixChain=(tableIdSuffixChain value) selector=(newSelector value selector)}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/each}}
    {{#unless hasVisibleGroups}}
      {{#unless showLoadingMessage}}
        <div class="dynamic-table-no-group">
          {{#if showNoGroupsMessage}}
            None Available
          {{/if}}
          {{#if noGroups.message}}
            {{{noGroups.message}}}
          {{/if}}
          {{#if noGroups.tmpl}}
            {{>Template.dynamic template=noGroups.tmpl data=noGroups.tmplContext}}
          {{/if}}
        </div>
      {{/unless}}
    {{/unless}}
  </div>
</template>
