<template name="CustomizableTable">
  {{#if readyToRender}}
    <div style="position: relative;">
      {{#if columns}}
        <a class="manage-fields" href="#"><i class="fa fa-eye-slash"></i> Hide/Show Columns</a>
      {{/if}}
      {{> DynamicTable forceRefresh=forceRefresh id=id table=buildTable class=class selector=selector removeColumn=removeColumn style=style modifyFilterCallback=modifyFilterCallback advancedFilter=advancedFilter allColumns=allColumns}}
    </div>
  {{/if}}
</template>
