<template name="dynamicTableExportModal">
  <div class="modal fade in" id="dynamicTableExportModal" role="dialog" aria-labelledby="modal-tabularExportModal" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-large-height">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-dynamicTableExportModal">
            Export
          </h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid" style="height: 100%">
            <div class="col-md-4 col-sm-4">
              <div class="row">
                <label for="dynamicTableExportModal-limit">Records</label>
                <select id="dynamicTableExportModal-limit" class="limit">
                  <option value="">All</option>
                  {{#if selectedIds}}
                    <option value="selected" selected="selected">Selected</option>
                  {{/if}}
                  <option value="current">Visible</option>
                </select>
              </div>
              <div class="row">
                <label for="dynamicTableExportModal-sort">Sort</label>
                <select id="dynamicTableExportModal-sort" class="sort">
                  <option value="current">Current</option>
                  {{#each field in sortableFields}}
                    <option value="{{field.field}}">{{field.label}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-8 col-sm-8">
              <label for="dynamicTableExportModalselected-fields">Fields to Export</label>
              <select id="dynamicTableExportModalselected-fields" style="width: 100%">
                {{#each field in fields}}
                  <option value="{{field.field}}">{{field.label}}</option>
                {{/each}}
              </select>
            </div>

            <!--<div class="col-md-4 col-sm-4">
              {{#each field in fields}}
                {{#if isEven @index}}
                  <div class="row">
                    <label for="dynamicTableExportModal-field-{{field.field}}">{{field.label}}
                      <input type="checkbox" data-target="{{field.field}}" id="dynamicTableExportModal-field-{{field.field}}" {{checked (enableField field)}} />
                    </label>
                  </div>
                {{/if}}
              {{/each}}
            </div>
            <div class="col-md-4 col-sm-4">
              {{#each field in fields}}
                {{#unless isEven @index}}
                  <div class="row">
                    <label for="dynamicTableExportModal-field-{{field.field}}">{{field.label}}
                      <input type="checkbox" data-target="{{field.field}}" id="dynamicTableExportModal-field-{{field.field}}" {{checked (enableField field)}} />
                    </label>
                  </div>
                {{/unless}}
              {{/each}}
            </div>-->
            {{#autoForm collection=collection id="dynamicTableExportModalForm"}}
              {{#each field in fields}}
                {{#if field.filters}}
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <h4>Filter {{field.label}}</h4>
                    </div>
                    {{#each filter in field.filters}}
                    <div class="col-md-3 col-sm-3">
                      <label>{{filter.label}}</label>
                    </div>
                    <div class="col-md-2 col-sm-2">
                      {{#if filter.comparators}}
                        <select style="width: 100%" class="comparator" data-target="{{field.field}}-{{filter.field}}" id="dynamicTableExportModalForm-{{field.field}}-{{filter.field}}-comparator">
                          {{#each option in filter.comparators}}
                            <option value="{{option.operator}}">{{option.label}}</option>
                          {{/each}}
                        </select>
                      {{else}}
                        <input type="hidden"  data-target="{{field.field}}-{{filter.field}}" id="dynamicTableExportModalForm-{{field.field}}-{{filter.field}}-comparator" value="{{op filter.comparator '||' ''}}" />
                      {{/if}}
                    </div>
                    <div class="col-md-7 col-sm-7">
                      {{#if filter.type}}
                        {{> afFieldInput required=false type=filter.type options=filter.options name=filter.field  id=(concat "dynamicTableExportModalForm-" field.field "-" filter.field) style="width: 100%"}}
                      {{else}}
                        {{> afFieldInput required=false name=filter.field  id=(concat "dynamicTableExportModalForm-" field.field "-" filter.field) style="width: 100%"}}
                      {{/if}}
                    </div>
                    {{/each}}
                  </div>
                {{/if}}
              {{/each}}
            {{/autoForm}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-inverse">Export</button>
          <button type="button" class="btn btn-default">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
