<template name="dynamicTableFilterModal">
  <div class="dynamic-table-filter">
    {{#if field.label}}
      <header class="dynamic-table-filter-header">
        {{#if editing}}Edit{{else}}Filter by{{/if}}: <b>{{fieldLabel}}</b>
        {{#if field.edit}}
          {{#unless editing}}
            <span class="dynamic-table-filter-edit-btn">
              <i class="fa fa-pencil"></i> Edit
            </span>
          {{/unless}}
        {{/if}}
      </header>
    {{/if}}
    {{#if loading}}
      <div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: #fff; opacity: 0.5;">

      </div>
    {{/if}}
    {{#if editing}}
      {{> manageColumnsForm groupNames=groupNames editableField=editableField manageFieldsEditContext=manageFieldsEditContext}}
    {{else}}
      {{#if sort.enabled}}
        <section class="dynamic-table-filter-sort">
          <label>Sort</label>
          <div>
            {{#if isNumericOrDate}}
              <button class="btn btn-dynamic-table-sort {{#if sortDirection 1}}btn-dynamic-table-selected{{/if}}" data-direction="1">0-9</button>
              <button class="btn btn-dynamic-table-sort {{#if sortDirection -1}}btn-dynamic-table-selected{{/if}}" data-direction="-1">9-0</button>
            {{/if}}
            {{#if isStringOrCustom}}
              <button class="btn btn-dynamic-table-sort {{#if sortDirection 1}}btn-dynamic-table-selected{{/if}}" data-direction="1">A-Z</button>
              <button class="btn btn-dynamic-table-sort {{#if sortDirection -1}}btn-dynamic-table-selected{{/if}}" data-direction="-1">Z-A</button>
            {{/if}}
            {{#if isBoolean}}
              <button class="btn btn-dynamic-table-sort {{#if sortDirection 1}}btn-dynamic-table-selected{{/if}}" data-direction="1">True</button>
              <button class="btn btn-dynamic-table-sort {{#if sortDirection -1}}btn-dynamic-table-selected{{/if}}" data-direction="-1">False</button>
            {{/if}}
          </div>
          <hr>
        </section>
      {{/if}}
      {{#if filter.enabled}}
        {{#if hasSelectedOptions}}
          <section class="dynamic-table-filter-selected">
            {{#each option in selectedOptions}}
              <label data-value="{{option.value}}" class="label-dynamic-table-selected">
                {{option.label}}
                <i class="fa fa-times"></i>
              </label>
            {{/each}}
          </section>
        {{/if}}
        {{#if searchEnabled}}
          <section class="dynamic-table-filter-search">
            {{#if isStringOrCustom}}
              <input type="text" class="form-control input-dynamic-table-search" placeholder="{{#if hasOptions}}Search values...{{else}}Search...{{/if}}" value="{{filter.search.value}}" />

              {{#if filter.operator.enabled}}
                <i class="fa fa-cog"></i>
              {{/if}}
            {{/if}}
            {{#if isNumber}}
              <input type="number" class="form-control input-dynamic-table-search" placeholder="Value" value="{{numberValue}}" />
              {{#if filter.operator.enabled}}
                <i class="fa fa-cog"></i>
              {{/if}}
            {{/if}}
            {{#if isDate}}
              <label>Date</label>
              <input type="date" class="form-control input-dynamic-table-search" placeholder="Date..." value="{{dateValue}}" />
            {{/if}}
            {{#if isTime}}
              <label>Time</label>
              <input type="number" class="form-control input-dynamic-table-search" placeholder="Min" value="{{minuteValue}}" style="width: 49%;" />
              <input type="number" class="form-control input-dynamic-table-search" placeholder="Sec" value="{{secondValue}}" style="width: 49%;" />
            {{/if}}
            {{#if isBoolean}}
              <select class="form-control input-dynamic-table-search">
                <option value="">Choose True/False</option>
                <option value="true" {{isSelected true}}>True</option>
                <option value="false" {{isSelected false}}>False</option>
              </select>
            {{/if}}
          </section>
        {{/if}}
        {{#unless isBoolean}}
          {{#if filter.operator.enabled}}
            <section class="dynamic-table-filter-operator" style="{{#unless showOperators}}display: none;{{/unless}}">
              <label>Where column</label>
              <select class="select-dynamic-table-operator">
                {{#if isNumericOrDateAndNoOptions}}
                  <option value="$between" {{checkedIfWithValue}}>Equals</option>
                  <option value="$gte">Greater</option>
                  <option value="$lte">Less Than</option>
                {{else}}
                  <option value="$in" {{checkedIfWithValue}}>contains (OR)</option>
                  {{#if hasOptions}}
                    {{#if isArrayField}}
                      <option value="$all" {{checkedIfWithAllValue}}>contains (ALL)</option>
                    {{/if}}
                  {{/if}}
                  <option value="$nin" {{checkedIfWithoutValue}}>does not contain (OR)</option>
                  {{#if hasOptions}}
                    {{#if isArrayField}}
                      <option value="$not$all" {{checkedIfWithoutAllValue}}>does not contain (ALL)</option>
                    {{/if}}
                  {{/if}}
                {{/if}}
              </select>
            </section>
          {{/if}}
        {{/unless}}
        {{#if hasOptions}}
          <section class="dynamic-table-filter-options">
            <label>Values{{#if searching}}...{{/if}}</label>
            {{#unless options.length}}
              Start typing to see your options
            {{/unless}}
            <div class="inner">
              {{#each option in options}}
                <label><input class="input-dynamic-table-option" type="checkbox" value="{{option.value}}" {{checkedIfSelected option.value}} /> <span class="dynamic-table-option-value">{{option.label}}</span></label>
              {{/each}}
            </div>
          </section>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if hasFooter}}
      <footer class="dynamic-table-filter-footer" style="{{#if editing}}text-align: right; padding: 6px;{{/if}}">
        {{#if editing}}
          <button class="btn btn-default btn-dynamic-table-cancel">Cancel</button>
          <button class="btn btn-success btn-dynamic-table-save">Save</button>
        {{else}}
          {{#unless field.required}}
            <span class="btn-dynamic-table-remove"><i class="fa fa-eye-slash"></i> Hide Column</span>
          {{/unless}}
          {{#if filter.enabled}}
            <span class="btn-dynamic-table-clear"><i class="fa fa-times"></i> Clear</span>
          {{/if}}
        {{/if}}
      </footer>
    {{/if}}
  </div>
</template>
